* {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 auto;
    width: 1600px;
    color: darkgoldenrod;
}

.wrap ul li {
    list-style: none;
}

.wrap > div {
    float: left;
}

#logo {
    width: 250px;
    height: 150px;
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    color: gold;
    border: 1px solid transparent;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: floralwhite;
}

a:visited {
    color: goldenrod;
}

header {
    width: 30%;
    height: 300px;
    float: right;
}

header form {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-top: 20px;
}

header .location {
    display: inline-block;
    position: absolute;
    left: 70%;
    margin-top: 20px;
    width: 150px;
}

header .place {
    display: inline-block;
    position: absolute;
    left: 80%;
    margin-top: 20px;
    float: right;
    width: 150px;
}

header .header_nav {
    position: absolute;
    top: 100px;
}

.hide {
    display: none;
}

.header_nav div {
    position: absolute;
    width: 600px;
    height: 320px;
    left 200px;
    border: 1px solid transparent;
}

.header_nav > ul > li {
    display: inline-block;
    position: relative;
    margin-top: 100px;
    margin-right: 20px;
    left: 50%;
    font-weight: 800;
}

.header_nav > ul > li > div > ul > li {
    display: inline-block;
    margin: 20px;
    position: relative;
    float: left;
}

.header_nav > ul > li > div > ul > li ul li {
    margin: 10px 0;
}

.header_nav > ul > li > div > ul {
    margin: 10px;
    position: absolute;
    top: -5px;
}

.header_nav > ul > li:nth-of-type(1) > div {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    z-index: 101;
}

.header_nav > ul > li:nth-of-type(2) > div {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    z-index: 101;
}

.header_nav div > ul ul li {
    display: block;
    width: 100px;
    border-left: 1px solid silver;
    padding-left: 5px;
}

article {
    clear: both;
    border-top: 3px solid gold;
    height: 500px;
}

.a1 > span {
    position: relative;
    right: 90%;
}

.a1 img {
    width: 250px;
    position: relative;
    left: 10%;
    margin-left: 15%;
}

.a1 > div:nth-child(3) {
    width: 600px;
    height: 200px;
    position: relative;
    top: -350px;
    left: 50%;
}

.a1 span {
    font-size: 1.5em;
    display: block;
    padding: 10px;
}

.a1 form {
    position: relative;
    margin-bottom: 100px;
}

.a1 input {
    padding: 10px;
    margin-top: 20px;
}

.a2 {
    max-height: 400px;
    padding-top: 20px;
}

.a2 td {
    padding: 8px;
}

.a2 table:nth-child(1) {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 200px;
}

.a2 table:nth-child(2) {
    display: inline-block;
    position: relative;
    float: right;
}

footer {

    border-top: 3px solid gold;
    height: 200px;
    margin: 30px;
    padding: 20px;
    clear: both;
}

#logo2 {
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-right: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid transparent;
    display: inline-block;
}

footer > div ul {
    display: inline-block;
    position: absolute;
}

footer > div ul > li:nth-child(1) {
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer > div > ul li {
    left: 10%;
}

footer > div > ul:nth-child(2) {
    left: 25%;
}

footer > div > ul:nth-child(3) {
    left: 37%;
}

footer > div > ul:nth-child(4) {
    left: 52%;
}

footer > div > ul:nth-child(5) {
    left: 68%;
}

#copyright {
    padding-bottom: 30px;
    text-align: center;
}
