* {
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
}

body {
    background-color: aliceblue;
}

.hide {
    display: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

#cycle {
    display: none;
}

#cycle2move {
    height: 100%;
}

#cycle2 > div {
    height: 100%;
}

.cycle-overlay {
    position: relative;
    bottom: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0.3;
}

#cycle2move img {
    width: 100%;
    height: 90%;
}

#mslider {
    display: none;
}

nav.mhide {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.mhide ul {
    background-color:goldenrod;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.mhide li {
    display: inline-block;
    width: 150px;
    margin-right: 20px;;
    box-sizing: border-box;
}

.mhide li a {
    text-decoration: none;
    font-weight: 800;
}

.mhide ul li h2{
    color:gold;
    position: relative;
    top: -10px;
}

#cycle2move {
    position: absolute;
    top: 70px;
    left: 0;
}

#section article {
    box-sizing: border-box;
    position: absolute;
    top: 4em;
    width: 100%;
    height: auto;
    border: 7px double black;
    padding: 30px;
    background-color: whitesmoke;
    z-index: 100;
}

#section article h2 {
    margin-bottom: 30px;
}

#section article ul {
    font-size: 20px;

}

#section li {
    list-style-image: url(/img/li_tit_style.gif);
}

#content img {
    width: 100%;
    height: auto;
}

#map {
    height: 500px;
}

#carousel{
    height: 400px;
}

#carousel img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.menuimage img{
    display: none;
}
