* {
    margin: 0;
    padding: 0;
}

.watch {
    font-family: 'Black Han Sans', sans-serif;
    position: relative;
    text-align: center;
    top: 50px;
    right: 8%;
    font-size: 2em;
    border: 10px solid goldenrod;
    background-color: saddlebrown;
    box-sizing: border-box;
    padding: 10px 0;
    color: gold;
}

#map {
    position: relative;
    left: 10%;
    width: 80%;
    height: 50%;
    margin-top: 30px;
    border: 5px double black;
}

#map ~ div {
    font-family: 'Black Han Sans', sans-serif;
}

#map ~ div li:first-of-type {
    list-style: none;
    font-size: 1.1em;
}

#map ~ div span {
    color: green;
}

.mhide {
    display: none;
}

.bar {
    clear: both;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 20px;
}

.hide {
    display: none;
}

.mainhide {}

#wrap {
    position: relative;
    overflow: hidden;
}

header {
    position: relative;
}

body {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cycle {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 47.5%;
    height: 100%;
}

#cycle a {
    width: 100%;
    height: 100%;
    display: block;
}

#cycle img {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    left: 0;
    background-color: floralwhite;
    width: 280px;
    height: 100%;
    display: none;
    z-index: 2;
    opacity: 0.9;
}

#menu li {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    z-index: 2;
    margin-right: 40px;
    display: block;
}

#menu a {
    text-decoration: none;
    color: black;
}

#am {
    position: relative;
    left: 47.5%;
    height: 100%;
}

#mslider {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 75px;
    background-color: floralwhite;
    font-size: 50px;
    z-index: 4;
}

#mslider img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 3px;
}

#pnbtn a {
    position: relative;
    display: inline-block;
    top: 15em;
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    font-weight: 800;
}

hr {
    margin-top: 20px;
}

#mslider div {
    background-color: floralwhite;
}

#mslider > div:nth-of-type(1) {
    margin-left: 20px;
    margin-top: 50px;
    color: goldenrod;
    font-family: 'Satisfy', cursive;
    font-weight: 1000;
    width: 10px;
}

#cycle2move {
    position: absolute;
    left: 51%;
    top: 0;
    width: 49%;
    height: 100%;
    display: inline-block;
    z-index: 2;
}

#cycle2 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

#cycle2 img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#section {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 100%;
}

#section article {
    position: absolute;
    box-sizing: border-box;
    padding: 10px 40px;
    top: 0;
    right: 0;
    border: 10px double silver;
    height: 100%;
    width: 100%;
    background-image: url(/img/backgroundimage.png);
    z-index: 1;
}

#section h1,
h2 {
    font-family: 'Satisfy', '맑은 고딕', cursive;
    font-size: 3em;
    text-align: center;
    font-style: italic;
    margin: 0.8em;
    text-shadow: 10px 7px goldenrod;
}

#section h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-indent: 0.5em;
}

#section ul {
    font-size: 1.5em;
    list-style-image: url(/img/li_tit_style.gif);
    margin-left: 1em;
    margin-top: 0.5em;
}

#section li {
    font-size: 0.8em;
    margin: 10px;
}

#section p {
    font-size: 1em;
    text-indent: 0.7em;
}

#content div:first-of-type img {
    float: left;
    width: 41%;
    height: 12em;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px silver;
}

#content div:first-of-type > h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.7em;
    color: lightcoral;
}

#content div:first-of-type > p {
    font-size: 1.2em;
    width: 90%;
    position: relative;
    left: 3%;
    font-family: 'Jua', sans-serif;
}

#content div:nth-of-type(2) img {
    float: right;
    width: 41%;
    height: 12em;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px silver;
}

#content div:nth-of-type(2) > h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.7em;
    color: lightcoral;
}

#content div:nth-of-type(2) > p {
    font-size: 1.2em;
    width: 50%;
    position: relative;
    font-family: 'Jua', sans-serif;
}

#content div:nth-of-type(3) img {
    float: left;
    width: 41%;
    height: 12em;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px silver;
}

#content div:nth-of-type(3) > h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.7em;
    color: lightcoral;
}

#content div:nth-of-type(3) > p {
    font-size: 1.2em;
    width: 95%;
    font-family: 'Yeon Sung', cursive;
    font-family: 'Jua', sans-serif;
}

footer {
    text-align: right;
}

#content > div:nth-of-type(1) {
    margin-top: 60px;
    position: relative;
    left: 700%;
}

#content > div:nth-of-type(2) {
    margin-top: 20px;
    position: relative;
    left: -700%;
}

#content > div:nth-of-type(3) {
    margin-top: 20px;
    position: relative;
    left: 700%;
}

#carousel {
    height: 500px;
}

#carousel + div p {
    font-weight: 800;
    font-size: 1.5em;
}

#carousel + div a:link {
    color: black;
}

#carousel + div a:visited {
    color: black;
}

#carousel + div a:hover {
    color: gold;
}

#carousel + div a:focus {
    color: gold;
}

.menuimage img {
    margin: 0 auto;
    display: block;
    background: no-repeat center center;
}

#carousel img {
    width: 300px;
    height: 400px;
    border-radius: 50%;
}

#support img {
    width: 90%;
    height: 50px;
    box-shadow: 10px 8px silver;
    display: none;
}

#support > div {
    position: relative;
    margin: 4% 0;
    left: 5%;
}

#support > div > div:nth-of-type(1) {
    position: absolute;
    text-align: right;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    width: 90%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: black;
    opacity: 0.3;
    display: none;
}

#support > div > div:nth-of-type(1) p {
    padding-top: 5px;
    padding-right: 5%;
}

#support > div > div:nth-of-type(2) {
    width: 90%;
    height: auto;
    padding: 10px;
    border: 5px inset;
    border-radius: 6%;
    display: none;
    background-color: floralwhite;
    opacity: 0.8;
}

#support > div > div > ul {
    margin: 0 4%;
}

#support a {
    text-decoration: none;
    color: black;
}

#support a:hover,
#support a:focus {
    text-decoration: none;
    color: white;
}

#maincontent > p {
    color: darkblue;
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
}

#maincontent a {
    text-decoration: none;
}

#maincontent a p {
    color: brown;
    margin: 10px;
}

#maincontent a p:hover {
    color: goldenrod;
}

#supportSite {
    font-weight: 800;
    font-style: italic;
}

#address {
    font-weight: 800;
}
