* {
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

.mainhide{

}

#wrap{
    position: relative;
    overflow: hidden;
}

header {
    position: relative;
}

body {
    background-color: dimgrey;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cycle {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 47.5%;
    height: 100%;
}

#cycle a{
    width: 100%;
    height: 100%;
    display: block;
}

#cycle img {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    left: 0;
    background-color:dimgrey;
    width: 280px;
    height: 100%;
    display: none;
    z-index: 1;
}

#menu li {
    list-style: none;
    z-index: 1;
}

#am {
    position: relative;
    left: 47.5%;
    height: 100%;
}

#mslider {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 75px;
    background-color: dimgrey;
    font-size: 50px;
    z-index: 4;
}

#mslider div{
    height: 90%;
    background-color: dimgrey;
}

#cycle2move {
    position: absolute;
    left: 51%;
    top: 0;
    width: 49%;
    height: 100%;
    display: inline-block;
    z-index: 1;
}

#cycle2 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

#cycle2 img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}
