 html,
 body {
     margin: 0;
     padding: 0;
 }

 html {
     width: 100%;
     height: 100%;
     overflow-y: scroll;
}

#wrap{
    width: 1000px;
    margin: 0 auto;
}
#logo{
    font-family: 'Satisfy', cursive;
    font-size: 8em;
    color: gold;
    text-align: center;
    height: 150px;
    margin-top:-100px;
    margin-bottom: 50px;    }

header{
    height: 250px;
}
/* #wowslider-container>.ws_images>ul>li>img{
  margin: 0 auto;
 }*/
 .center {
     margin-top: 250px;
     box-sizing: border-box;
 }
 .slider {
     width: 80%;
     margin: 100px auto;
 }
 .slick-slide {
     margin: 0px 20px;
 }
 .slick-slide img {
     width: 100%;
 }
 .slick-prev:before,
 .slick-next:before {
     color: black;
 }
 .slick-slide {
     transition: all ease-in-out .1s;
     opacity: .2;
 }
 .slick-active {
     opacity: .5;
 }

 .slick-current {
     opacity: 1;
 }

 /*    filpnav*/
 #filpnav {
     width: 50%;
     height: 900px;
     margin: 0 auto;
     margin-top: 100px;
 }

 .flip-box {
     background-color: transparent;
     width: 200px;
     height: 200px;
     border: 1px solid #f1f1f1;
     /*            perspective: 1000px;*/
     display: inline-block;
 }

 #filpnav img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
 }

 h2 {
     font-size: 2em;
     font-family: '궁서';
     text-align: center;
/*
     position: relative;
     top: 140px;
*/
 }

 .flip-box-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.8s;
     transform-style: preserve-3d;
 }

 .flip-box:hover .flip-box-inner {
     transform: rotateY(180deg);
     border: 5px solid gold;
     border-radius: 50%;
     background-color: #ccad00;
 }

 .flip-box-front,
 .flip-box-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
 }

 .flip-box-back {
     color: white;
     transform: rotateY(180deg);
     border-radius: 50%;
 }

 /*        색상, 위치 다시 선정*/
 .flip-box-back h2 {
     position: absolute;
     left: 50px;
     text-align: center;
     color: white;
 }
 #tail {
     margin-top: 350px;
     padding-left: 20px;
     height: 300px;
     background-color: #ccad00;
 }

 #tail ul {
     margin: 0;
     padding: 0;
     display: inline-block;
 }

 #tail ul li {
     padding-right: 80px;
     padding-bottom: 10px;
     position: relative;
     top: 80px;
     list-style: none;

 }

 #tail ul li a {
     font-size: 15px;
     color: white;
     text-decoration: none;

 }

 #tail ul li a img {
     width: 25px;
     height: 25px;
     border-radius: 0%;
 }

 #tail ul li a:hover {
     text-decoration: underline;
 }
#up {
    margin-top: 290px;
}
 #up img {
     width: 50px;
     height: 50px;
     cursor: pointer;
     position: relative;
     bottom: -70%;
     float: right;
 }
 #up img:hover {
     border: 3px solid #ccad00;
     border-radius: 20%;
 }
