* {
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
}

body {
    background-color: aliceblue;
}

.hide {
    display: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

#cycle {
    display: none;
}

#cycle2move {
    height: 100%;
}

#cycle2 > div {
    height: 100%;
}

.cycle-overlay {
    position: relative;
    bottom: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0.3;
}

#cycle2move img {
    width: 100%;
    height: 90%;
}

#mslider {
    display: none;
}

nav.mhide {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color:goldenrod;
}

.mhide ul {
    padding: 10px;
    box-sizing: border-box;
}

.mhide li{
    list-style: none;
}

.mhide li:first-of-type {
    display: inline-block;
    width: 150px;
    margin-left: 10%;
    margin-top: 5%;
    box-sizing: border-box;
    float: left;
}

.mhide li:nth-of-type(2){
    float:left;
    position: relative;
    right: -10%;
}

.mhide li a {
    text-decoration: none;
    font-weight: 800;
}

.mhide ul li h2{
    color:gold;
    position: relative;
    top: -10px;
    font-size: 1.5em;
}

#cycle2move {
    position: absolute;
    top: 70px;
    left: 0;
}

#section article {
    box-sizing: border-box;
    position: absolute;
    top: 4em;
    width: 100%;
    height: auto;
    border: 7px double black;
    padding: 30px;
    background-image: url(/img/backgroundimage.png);
    z-index: 100;
}

#section article h2 {
    margin-bottom: 30px;
}

#section article ul {
    font-size: 20px;
}

#section li {
    list-style-image: url(/img/li_tit_style.gif);
}

#content img {
    width: 100%;
    height: auto;
}

#map {
    height: 500px;
}

#carousel{
    height: 400px;
}

#carousel img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.menuimage img{
    display: none;
}

#support img{
    width: 90%;
    height: 50px;
    box-shadow: 10px 8px silver;
    display: none;
}

#support > div{
    position: relative;
    margin: 4% 0;
    left: 5%;
}

#support > div > div:nth-of-type(1){
    position: absolute;
    text-align: right;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    width: 90%;
    height: 50px;
    top:0;
    left: 0;
    z-index: 20;
    background-color: black;
    opacity: 0.3;
    display: none;
}

#support > div > div:nth-of-type(1) p{
    padding-top: 5px;
    padding-right: 5%;
}

#support > div > div:nth-of-type(2){
    width: 90%;
    height: 150px;
    border: 5px inset;
    border-radius: 6%;
    background-color: floralwhite;
    display: none;
}
#support > div > div > ul{
    margin: 0 4%;
}
#support > div > div > ul a{
    text-decoration: none;
    color: black;
}

#support > div > div > ul a:hover,#support > div > div > ul a:focus{
    text-decoration: none;
    color: white;
}
