* {
    margin: 0;
    padding: 0;
}

.watch {
    font-family: 'Black Han Sans', sans-serif;
    position: relative;
    text-align: center;
    top: -10%;
    height: 80px;
    font-size: 2em;
    border: 10px solid white;
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 10px 0;
}

h1,
h2 {
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
    text-shadow: 4px 3px silver;
}

body {
    background-color: aliceblue;
}

.hide {
    display: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

#cycle {
    display: none;
}

#cycle2move {
    height: 100%;
}

#cycle2 > div {
    height: 100%;
}

.cycle-overlay {
    position: relative;
    bottom: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0.3;
}

#cycle2move img {
    width: 100%;
    height: 90%;
}

#mslider {
    display: none;
}

nav.mhide {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: goldenrod;
}

.mhide ul {
    padding: 10px;
    box-sizing: border-box;
}

.mhide li {
    list-style: none;
}

.mhide li:first-of-type {
    display: inline-block;
    width: 150px;
    margin-left: 10%;
    margin-top: 5%;
    box-sizing: border-box;
    float: left;
}

.mhide li:nth-of-type(2) {
    float: left;
    position: relative;
    right: -10%;
}

.mhide li a {
    text-decoration: none;
    font-weight: 800;
}

.mhide ul li h2 {
    color: gold;
    position: relative;
    top: -10px;
    font-size: 1.5em;
}

#cycle2move {
    position: absolute;
    top: 70px;
    left: 0;
}

#section article {
    box-sizing: border-box;
    position: absolute;
    top: 4em;
    width: 100%;
    height: auto;
    border: 7px double white;
    padding: 30px;
    background-image: url(/img/backgroundimage.png);
    z-index: 100;
}

#section article h2 {
    margin-bottom: 30px;
}

#section article ul {
    font-size: 20px;
}

#section li {
    list-style-image: url(/img/li_tit_style.gif);
}

#content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 3px 3px silver;
}

#content h3 {
    color: lightcoral;
    margin: 10px 0;
    font-weight: 700;
}

#content p {
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#map {
    height: 500px;
}

#map ~ div ul {
    font-size: 1em;
    font-family: 'Black Han Sans', sans-serif;
    margin: 20px;
    line-height: 30px;
}

#map ~ div span {
    color: green;
}

#map ~ div ul li:first-of-type {
    list-style: square;
}

#carousel {
    height: 400px;
}

#carousel img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.menuimage img {
    display: none;
}

#support img {
    width: 90%;
    height: 50px;
    box-shadow: 10px 8px silver;
    display: none;
}

#support > div {
    position: relative;
    margin: 4% 0;
    left: 5%;
}

#support > div > div:nth-of-type(1) {
    position: absolute;
    text-align: right;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    width: 90%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: black;
    opacity: 0.3;
    display: none;
}

#support > div > div:nth-of-type(1) p {
    padding-top: 5px;
    padding-right: 5%;
}

#support > div > div:nth-of-type(2) {
    width: 90%;
    height: auto;
    padding: 10px;
    border: 5px inset;
    border-radius: 6%;
    background-color: floralwhite;
    display: none;
}

#support > div > div > ul {
    margin: 0 4%;
}

#support a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 800;
}

#support a:hover {
    color: gold;
    text-decoration: none;
}

#support a:focus {
    color: gold;
    text-decoration: none;
}

#maincontent > p {
    color: darkblue;
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
}

#maincontent a {
    text-decoration: none;
}

#maincontent a p {
    color: brown;
    margin: 10px;
}

#maincontent a p:hover {
    color: goldenrod;
}

#supportSite {
    font-weight: 800;
    font-style: italic;
}

#address {
    font-weight: 800;
}
