* {
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

header {
    position: relative;
}

body {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cycle {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 45%;
    height: 1080px;
}

#cycle img {
    width: 100%;
    height: 100%;
}

#menu,
#mslider {
    display: inline-block;
    height: 1080px;
    z-index: 30;
}

#menu {
    position: absolute;
    left: 0;
    background-color: aqua;
    width: 280px;
    display: none;
    z-index: 1;
}

#menu li {
    list-style: none;
    z-index: 0;
}

#am {
    position: relative;
    left: 45%;
}

#mslider {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 120px;
    height: 1080px;
    background-color: antiquewhite;
    font-size: 50px;
}

#cycle2move {
    position: absolute;
    left: 51%;
    top: 0;
    width: 49%;
    height: 100%;
    display: inline-block;
    z-index: 1;
}

#cycle2 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
}

#cycle2 img {
    width: 100%;
    height: 100%;
}
