* {
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    left: 10%;
    width: 80%;
    height: 50%;
    margin-top: 30px;
    border: 5px double black;
}

.mhide {
    display: none;
}

.bar {
    clear: both;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 20px;
}

.hide {
    display: none;
}

.mainhide {}

#wrap {
    position: relative;
    overflow: hidden;
}

header {
    position: relative;
}

body {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cycle {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 47.5%;
    height: 100%;
}

#cycle a {
    width: 100%;
    height: 100%;
    display: block;
}

#cycle img {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    left: 0;
    background-color: floralwhite;
    width: 280px;
    height: 100%;
    display: none;
    z-index: 2;
    opacity: 0.9;
}

#menu li {
    list-style: none;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    z-index: 2;
    margin-right: 40px;
    display: block;
}

#menu a {
    text-decoration: none;
    color: black;
}

#am {
    position: relative;
    left: 47.5%;
    height: 100%;
}

#mslider {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 75px;
    background-color: floralwhite;
    font-size: 50px;
    z-index: 4;
}

#mslider img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 3px;
}

#pnbtn a{
    position: relative;
    display: inline-block;
    top:23em;
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    font-weight: 800;
}

hr{
    margin-top: 20px;
}

#mslider div {
    background-color: floralwhite;
}

#mslider > div:nth-of-type(1){
    margin-left: 20px;
    margin-top: 50px;
    color:goldenrod;
    font-family: 'Satisfy', cursive;
    font-weight: 1000;
    width: 10px;
}

#cycle2move {
    position: absolute;
    left: 51%;
    top: 0;
    width: 49%;
    height: 100%;
    display: inline-block;
    z-index: 2;
}

#cycle2 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

#cycle2 img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#section {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 100%;
}

#section article {
    position: absolute;
    box-sizing: border-box;
    padding: 10px 40px;
    top: 0;
    right: 0;
    border: 10px double silver;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
}

#section h1,
h2 {
    font-family: 'Satisfy','맑은 고딕', cursive;
    font-size: 3em;
    text-align: center;
    font-style: italic;
    margin: 0.8em;
}

#section h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-indent: 0.5em;
}

#section ul {
    font-size: 1.5em;
    list-style-image: url(/img/li_tit_style.gif);
    margin-left: 4em;
    margin-top: 0.5em;
}

#section li {
    font-size: 0.8em;
    margin: 10px;
}

#section p {
    font-size: 1em;
    text-indent: 0.7em;
}

#content div:first-of-type img {
    float: left;
    width: 15em;
    height: 12em;
    margin-bottom: 20px;
}

#content div:nth-of-type(2) img {
    float: right;
    width: 15em;
    height: 12em;
    margin-bottom: 20px;
}

#content div:nth-of-type(3) img {
    float: left;
    width: 15em;
    height: 12em;
    margin-bottom: 20px;
}

footer {
    text-align: right;

}

#content > div:nth-of-type(1) {
    margin-top: 60px;
    position: relative;
    left: 700%;
}

#content > div:nth-of-type(2) {
    margin-top: 20px;
    position: relative;
    left: -700%;
}

#content > div:nth-of-type(3) {
    margin-top: 20px;
    position: relative;
    left: 700%;
}

#carousel{
    height: 500px;
}

#carousel+div p{
    font-weight: 800;
    font-size: 1.5em;
}

#carousel+div a:link{
    color: black;
}

#carousel+div a:visited{
    color: black;
}

#carousel+div a:hover{
    color: gold;
}

#carousel+div a:focus{
    color: gold;
}

.menuimage img{
    margin: 0 auto;
    display: block;
    background: no-repeat center center;
}

#carousel img{
    width: 300px;
    height: 400px;
    border-radius: 50%;
}
