* {
    margin: 0;
    padding: 0;
}

body {
    background: url('http://127.0.0.1:49331/img/hitesh-choudhary-452952-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-image: opacity;
}

.wrap {
    margin: 0 auto;
    width: 1600px;
}

.wrap ul li{
    list-style: none;
}

.wrap > div {
    float: left;
}

#logo {
    width: 250px;
    height: 150px;
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid tranparent;
}

a {
    text-decoration: none;
}

a:link {
    background-color: chartreuse;
}

header {
    width: 30%;
    height: 300px;
    float: right;
}

header form {
    display: inline-block;
    position: absolute;
    margin-right: 30px;
}

header .location {
    display: inline-block;
    position: absolute;
    padding-left: 10%;
    margin-right: 30px;
    width: 150px;
}

header .place {
    display: inline-block;
    position: absolute;
    padding-left: 15%;
    margin-right: 30px;
    float: right;
    width: 150px;
}

header .header_nav {
    position: absolute;
    top: 100px;
}

header .header_nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.bn {
    clear: both;
    height: 300px;
    width: 100%;
    border: 1px solid transparent;
}

.bn > div:nth-child(1) {
    border-top: 3px solid gold;
    border-bottom: 3px solid gold;
    padding: 10px;
    margin-bottom: 10px;
}

.bn > div:nth-child(2) {
    border: 1px solid transparent;
    height: 200px;
    background: url('http://127.0.0.1:49331/img/erriko-boccia-413051-unsplash.jpg') no-repeat;
    background-size: cover;

}

.main {
    padding: 10px;
    border-top: 3px solid gold;
}

.main > div:nth-child(1) {
    height: 200px;
}

.main > div > span:nth-child(1) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(2) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > span:nth-child(3) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(4) {
    border: 1px solid silver;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    float: right;
}

article {
    border-top: 3px solid gold;
}

.wrap .main article ul li {
    position: relative;
    display: inline-block;
    padding: 15px 8%;
    max-width: 80px;
    margin: auto;
    border: 1px solid transparent;

}

.wrap section article img {
    max-width: 215px;
}

article li {
    align-content: center;
}

footer {
    border: 1px solid transparent;
    border-top: 3px solid gold;
    height: 300px;
    margin: 30px;
    padding: 20px;
}

#logo2 {
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-right: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid transparent;
    display: inline-block;
}

footer>div>ul>:not(li) {
    font-weight: 900;
    font-size: 2em;
}

footer>div ul {
    display: inline-block;
    position:absolute;
}

footer>div>ul li {
    padding: 3px;
}

footer>div>ul:nth-child(2) {
    padding-left: 15%;
}

footer>div>ul:nth-child(3) {
    padding-left: 30%;
}

footer>div>ul:nth-child(4) {
    padding-left: 45%;
}

#copyright {
    padding-bottom: 30px;
    text-align: center;
}
