* {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 auto;
    width: 460px;
    color: darkgoldenrod;
    font:
}

.wrap ul li {
    list-style: none;
}

#logo {
    width: 250px;
    height: 150px;
    margin-top: 50px;
    margin-left: -13%;
    margin-bottom: 10%;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    color: gold;
    border: 1px solid transparent;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: floralwhite;
}

a:visited {
    color: goldenrod;
}

.wrap > div {
    position: relative;
    left: 30%;
    margin-bottom: -10%;
}

header {
    height: 180px;
}

header form {
    display: inline-block;
    position: relative;
    left: 8%;
}

header .location {
    display: inline-block;
    position: absolute;
    left: 60%;
    width: 150px;
}

header .place {
    display: inline-block;
    position: absolute;
    left: 75%;
    width: 150px;
}

header .header_nav {
    position: relative;
    margin-bottom: 5%;
    margin-left: 2%;
}

.hide {
    display: none;
}

.header_nav div {
    position: absolute;
    width: 300px;
    border: 1px solid transparent;
}

header .header_nav ul li {
    display: block;
    margin-top: 100px;
    margin-right: 20px;
    position: absolute;
}

.header_nav > ul > li > div > ul li {
    display: block;
    margin: 20px;
    position: relative;
}

.header_nav > ul > li:nth-child(1) {
    left: 12%;
}

.header_nav > ul > li:nth-child(2) {
    left: 36%;
}

.header_nav > ul > li:nth-child(3) {
    left: 65%;
}

.header_nav > ul > li:nth-of-type(1) > div {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    position: absolute;
    z-index: 100;
}

.header_nav > ul > li:nth-of-type(2) > div {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    position: absolute;
    z-index: 100;
}

.bn {
    height: 400px;
    width: 100%;
    border: 1px solid transparent;
}

.bn > div:nth-child(1) {
    border-top: 3px solid gold;
    border-bottom: 3px solid gold;
    padding: 10px;
    margin-bottom: 10px;
}

.bn > div:nth-child(2) img {
    width: 100%;
    height: 320px;
}

.main {
    margin-top: 20px;
    border-top: 3px solid gold;
}

.main h2 {
    text-align: center;
    margin: 10px;
}

.main > div:nth-child(1) {
    height: 200px;
}

.main > div > span:nth-child(1) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(2) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
    text-align: center;
}

.main > div > span:nth-child(3) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(4) {
    border: 1px solid silver;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}

article {
    border-top: 3px solid gold;
}

.wrap .main article ul li {
    position: relative;
    padding: 15px 8%;
    max-width: 80px;
    margin-left: 85px;
    border: 1px solid transparent;
}

.wrap section article img {
    max-width: 215px;
}

article li {
    align-content: center;
}

footer {
    border: 1px solid transparent;
    border-top: 3px solid gold;
    height: 460px;
    margin: 30px;
    padding: 20px;
    max-width: 400px;
}

#logo2 {
    width: 200px;
    height: 100px;
    margin-top: 15px;
    margin-left: 24%;
    margin-bottom: 15px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid transparent;
    display: inline-block;
}

footer > div ul {
    display: inline-block;
    position: relative;
}

footer > div ul > li:nth-child(1) {
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer > div > ul:nth-child(2) {
    left: 7%;
    bottom: 20px;
}

footer > div > ul:nth-child(3) {
    left: 40%;
    bottom: 63px;
}

footer > div > ul:nth-child(4) {
    left: 7%;
}

footer > div > ul:nth-child(5) {
    left: 20%;
    bottom: 63px;
}

#copyright {
    padding-bottom: 30px;
    text-align: center;
}
