* {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 auto;
    width: 1600px;
    color: darkgoldenrod;
}

.wrap ul li {
    list-style: none;
}

.wrap > div {
    float: left;
}

#logo {
    width: 250px;
    height: 150px;
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid tranparent;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: chartreuse;
}

a:visited {
    color: goldenrod;
}

header {
    width: 30%;
    height: 300px;
    float: right;
}

header form {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-top: 20px;
}

header .location {
    display: inline-block;
    position: absolute;
    left: 70%;
    margin-top: 20px;
    width: 150px;
}

header .place {
    display: inline-block;
    position: absolute;
    left: 80%;
    margin-top: 20px;
    float: right;
    width: 150px;
}

header .header_nav {
    position: absolute;
    top: 100px;
}

.hide {
    display: none;
}

.header_nav div {
    position: absolute;
    width: 800px;
    height: 400px;
    left 200px;
    border: 1px solid silver;
}

header .header_nav ul li {
    display: inline-block;
    margin-top: 100px;
    margin-right: 20px;
}

.header_nav > ul > li > div {
    border: 1px solid transparent;
    background-color: gold;
    position: absolute;

}

.bn {
    clear: both;
    height: 400px;
    width: 100%;
    border: 1px solid transparent;
}

.bn > div:nth-child(1) {
    border-top: 3px solid gold;
    border-bottom: 3px solid gold;
    padding: 10px;
    margin-bottom: 10px;
}

.bn > div:nth-child(2) img {
    width: 1600px;
    height: 355px;
}

.main {
    margin-top: 20px;
    border-top: 3px solid gold;
}

.main h2 {
    text-align: center;
    margin: 10px;
}

.main > div:nth-child(1) {
    height: 200px;
}

.main > div > span:nth-child(1) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(2) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > span:nth-child(3) {
    border: 1px solid silver;
    height: 50px;
    margin: 10px;
}

.main > div > div:nth-child(4) {
    border: 1px solid silver;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    float: right;
}

article {
    border-top: 3px solid gold;
}

.wrap .main article ul li {
    position: relative;
    display: inline-block;
    padding: 15px 8%;
    max-width: 80px;
    margin: auto;
    border: 1px solid transparent;

}

.wrap section article img {
    max-width: 215px;
}

article li {
    align-content: center;
}

footer {
    border: 1px solid transparent;
    border-top: 3px solid gold;
    height: 300px;
    margin: 30px;
    padding: 20px;
}

#logo2 {
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-right: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: gold;
    border: 1px solid transparent;
    display: inline-block;
}

footer > div ul {
    display: inline-block;
    position: absolute;
}

footer > div ul > li:nth-child(1) {
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer > div > ul li {
    left: 10%;
}

footer > div > ul:nth-child(2) {
    left: 25%;
}

footer > div > ul:nth-child(3) {
    left: 37%;
}

footer > div > ul:nth-child(4) {
    left: 52%;
}

footer > div > ul:nth-child(5) {
    left: 68%;
}

#copyright {
    padding-bottom: 30px;
    text-align: center;
}
