*{
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 40px;
}

@media ( min-width: 1024px ) {
    .nav-up {
        top: -60px;
    }

    .nav-down{
        top: 0px;
    }

    .menu{
    float: right;
    margin-right: 50px;
    }

    .menu li{
        display: inline-block;
    }

    .menu img{
        display: none;
    }

    nav ul li{
        padding: 20px 10px;
        display: inline-block;
        list-style: none;
    }

    nav ul li a{
        padding: 20px 30px;
        text-decoration: none;
        color: black;
    }

    .list{
        height: 100%;
        margin-left: 26%;
        margin-right: 26%;
    }


    a.top{
        text-decoration: none;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 90%;
        bottom: 40px;
        display: none;
        background-color: dimgrey;
    }

    .tab h2{
        margin-left: 10px;
    }

}

@media ( max-width: 1023px ) {
    .nav-up {
        top: -60px;
    }

    .nav-down{
        top: 0px;
    }
    .home li{
        padding: 20px 10px;
        list-style: none;
    }

    .home li a{
        padding-left: 20px;
        text-decoration: none;
        color: black;
    }

    .menu{
        position: relative;
        margin-top: -20px;
        width: 100%;
        float: right;
    }

    .menu img{
        float: right;
        margin-top: -60px;
        width: 60px;
        z-index: 1;
    }

    .menu li{
        margin-top: -20px;
    }

    .menu li a{
        text-align: center;
        margin-top: 20px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        color: black;
        background-color: #f5b335;
        border-top: 1px solid;

    }

    .list{
        height: 100%;
    }

    a.top{
        text-decoration: none;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 85%;
        bottom: 40px;
        display: none;
        background-color: dimgrey;
    }

    .tab h2{
        position: relative;
        top: -30px;
        width: 28%;
        margin-left: 13px;
    }
}

/*메인-메뉴*/
nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #f5b335;
    transition: top 0.2s ease-in-out;
    z-index: 1;
}

.home{
    float: left;
}

.home img{
    margin-top: -15px;
    margin-left: -20px;
    height: 50px;
}

nav ul li a:hover, nav ul li a:focus{
    text-decoration: underline;
    color: white;
}
/*메인-메뉴 끝*/

/*메인-베너*/
.banner{
    background-image: url(/img/texture-3319946_1920.jpg);
    margin-top: -60px;
    width: 100%;
    height: 300px;
}

.banner h1{
    padding: 110px 40px;
    color: white;
}
/*메인-베너 끝*/

/*리스트*/
.tab{
    position: relative;
    top: 100px;
    height: 900px;
}

.tab>li{
    list-style: none;
}

ul h2{
    text-align: center;
    border: 1px solid;
    float: left;
    width: 150px;
    position: relative;
}

.tab>li>ul{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 600px;
    background-color: white;
}

.tab a{
    font-family: fantasy;
    text-decoration: none;
    color: black;
    display: block;
}

.tab a:hover, .tab a:focus{
    color: white;
    background-color: #1F305D;
}

.list_menu{
    list-style: none;
    border: 5px outset;
    margin-top: 10px;
    padding: 5px;
}

.list_menu ul{
    list-style: none;
    border-top: 1px solid;
    height: 130px;
    font-size: 1.2em;
    text-indent: 10px;
    padding: 10px;
}

.list_menu a{
    display: block;
    text-decoration: none;
}

.list_menu .hide{
    display: none;
}

.list_menu a:hover, .list_menu a:focus{
    color: white;
    background-color: #1F305D;
}
/*리스트 끝*/

/*푸터*/
.footer{
    margin-top: 10%;
    width: 100%;
    border: 1px solid;
    background-color: black;
    opacity: 0.7;
    bottom: auto;
}

.footer .p1{
    margin-left: 10px;
    margin-top: 40px;
    color: white;
}

.footer .p2{
    margin-left: 10px;
    color: white;

}

.top p{
    color: white;
    margin-top: 15px;
    margin-left: 10px;
}
/*푸터 끝*/
